---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

interface Mud {
  title: string;
  description: string;
  meta_title: string;
  banner: {
    header: string;
    image: string;
  };
  about: {
    header: string;
    image: string;
    content: string;
  };
  kickstarter: {
    header: string;
    link: string;
    content: string;
  };
}

const mud = await getEntryBySlug("mud", "-index");
const { Content } = await mud.render();
// const { title, description, meta_title, image } = mud.data;
const { title, description, meta_title, banner, about, kickstarter }: Mud = mud.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <section class="section-sm">
    <div class="container">
      <!-- Banner -->
      <div class="relative">
        {
          <div class="mb-10">
            <Image
              src={banner.image}
              height={500}
              width={1200}
              alt={title}
              class="w-full rounded-lg "
              format="webp"
            />
            <div class="absolute inset-0 flex justify-center items-end">
              <h1 class="font-normal text-white opacity-80 md:text-8xl sm:text-5xl">
                {title}
              </h1>
            </div>
          </div>
        }
      </div>

      <!-- About -->
      <div class="row justify-center items-end mb-16">
        <div class="md:col-3">
          {
            about.image && (
              <Image
                class="mx-auto w-64"
                src={about.image}
                width={680}
                height={1039}
                alt={title}
                format="webp"
              />
            )
          }
        </div>
        <div class="md:col-9 mb-10">
          <h2 set:html={about.header} class="mb-4" />
          <p set:html={about.content} class="mb-8 text-lg" />
        </div>
      </div>

      <!-- Kickstarter -->
      <div class="row justify-center items-start mb-10">
        <div class="md:col-9 mb-10">
          <h2 set:html={kickstarter.header} class="mb-4" />
          <p set:html={kickstarter.content} class="mb-8 text-lg" />
        </div>
        <div class="md:col-3 flex justify-center">
          <iframe src={kickstarter.link} width="220" height="420"/>
        </div>
      </div>

    </div>
  </section>
</Base>
